name: Main

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Set up the environment
        uses: ./.github/actions/setup-python-env

      # - name: Generate Prisma client
      #   run: make prisma-generate

      - name: Run checks
        run: make check

  tests-and-type-check:
    runs-on: ubuntu-latest
    # env:
    #   EPINTERFACE_ENERGYPLUS_VERSION: ${{ matrix.energyplus-version }}
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
        energyplus-version: [22.2.0, 23.2.0, 24.2.0, 25.2.0] # later, add 9.4.0
        energyplus-platform: [Linux-Ubuntu22.04]
        include:
          - runs-on: ubuntu-latest
            compiler: gcc
          - energyplus-version: 22.2.0
            energyplus-sha: c249759bad
            energyplus-install: 22-2-0
          - energyplus-version: 23.2.0
            energyplus-sha: 7636e6b3e9
            energyplus-install: 23-2-0
          - energyplus-version: 24.2.0
            energyplus-sha: e7ecb2d53b
            energyplus-install: 24-2-0
          - energyplus-version: 25.2.0
            energyplus-sha: cf7368216c
            energyplus-install: 25-2-0
      fail-fast: false
    defaults:
      run:
        shell: bash
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up the environment
        uses: ./.github/actions/setup-python-env
        with:
          python-version: ${{ matrix.python-version }}

      # - name: Generate Prisma client
      #   run: make prisma-generate

      - name: Check typing
        run: uv run pyright

      - name: Install EnergyPlus
        uses: Elementa-Engineering/install-energyplus@v1.2.0
        with:
          energyplus-version: ${{ matrix.energyplus-version }}
          energyplus-sha: ${{ matrix.energyplus-sha }}
          energyplus-install: ${{ matrix.energyplus-install }}
          energyplus-platform: ${{ matrix.energyplus-platform }}

      - name: Run tests
        run: uv run pytest tests --cov --cov-config=pyproject.toml --cov-report=xml

      - name: Upload coverage reports to Codecov with GitHub Action on Python 3.12
        uses: codecov/codecov-action@v4
        if: ${{ matrix.python-version == '3.12' }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  check-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up the environment
        uses: ./.github/actions/setup-python-env

      # - name: Generate Prisma client
      #   run: make prisma-generate

      - name: Check if documentation can be built
        run: uv run mkdocs build -s
